<form action="/" method="post" id="static_form">
    <div>
        <label for="numberForCheck">input:</label>
        <input type="number" name="numberForCheck1" placeholder="numberForCheck|" id="numberForCheck">
    </div>

    <div>
        <label for="submitInput">click button to check--></label>
        <button type="submit" id="submitInput">submit button</button>
    </div>

</form>

<div class="error hidden" id="error-container">
    <div class="text-goes-here"></div>
</div>

{{!-- <p>historyAttemptsList:</p> --}}
<div>
    <ol id="attempts" class="history hidden">
    </ol>
</div>