<div>
    <h2>Strange unknow error:</h2>
    <div>
        {{error}}
    </div>

    <div>
        <a href="/">Go Back</a>
    </div>
    <div>
        <a href="/logout">try logout again</a>
    </div>
</div>