<form action="/posts" method="POST" class="">
{{!-- ave an input and a label; the label should properly reference the same id as the input --}}
<label for="input">
    /search
    <input type="text" name="search" placeholder="Post Title" value="{{people.search}}" class="full-width-input"/>
</label>
</form>