<title>People Finder</title>
<link rel="stylesheet" href="/public/site.css">

{{!-- do need to wrap in the main tag??? --}}
<main>
    <ul>
        <li>
            <a href="/details/1">Rob Herley</a>
        </li>
        <li>
            <a href="/details/99">Dolph Robottham</a>
        </li>
        <li>
            <a href="/details/270">Grady Orrobin</a>
        </li>
    </ul>
</main>