* {
    box-sizing: border-box;
  }
  
  html,
  body {
    font-size: 14pt;
  }
  
  body {
    background: #dedede;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  }
  
  header {
    border-bottom: 1px solid #5560e0;
    /* position: fixed; */
    top: 0;
    width:100%;
    text-align: center;
}

div{
    text-align: center;
}

  footer{
    border-top: 1px solid #ec5858;
    /* position: fixed;
    bottom: 0;
    width: 100%; */
  }
  
  footer div{
    color: #222;
  }

  .is-prime{
    color:#00E676;
    /* text-align: center; */
}

.not-prime{
    color:#FF3D00;
    /* text-align: center; */
}

ol{
    text-align: center;
}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #222;
    margin-bottom: 5px;
    /* text-align: center; */
  }
  
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  h4 {
    font-size: 1.25rem;
  }
  
  h5 {
    font-size: 1.15rem;
  }
  
  h6 {
    font-size: 1.05rem;
  }
  
  p {
    font-size: 1rem;
    line-height: 100%;
  }

  label {
    font-weight: bold;
  }

  #error-container{
    color:rgb(214, 11, 164);
    text-align: center;
  }