{{!-- <link rel="stylesheet" name = "stylesheetLink" href="{{stylesheetLink}}"> --}}
<link rel="stylesheet" href="/public/site.css">
<div class="not-found">Error were founded! -----------> errorInfo: {{error}} ---------</div>
<a href="/">back to mainPage</a>