{{!-- <link rel="stylesheet" name="stylesheetLink" href="{{stylesheetLink}}"/> --}}
{{!-- {{{stylesheetLink}}} --}}
<h1>{{title}}</h1>

{{!-- do need to wrap in the main tag??? or budy?? --}}

<body>

    <p>website for lab8, search through a dataset. <a href="https://gist.githubusercontent.com/robherley/5112d73f5c69a632ef3ae9b7b3073f78/raw/24a7e1453e65a26a8aa12cd0fb266ed9679816aa/people.json" target="_blank">people dataset</a></p>
    <form action="/search" method="POST" class="search_personName">
        {{!-- have an input and a label; the label should properly reference the same id as the input --}}
        <label>
            search input:
            <input type="text" name="personName" placeholder="input_personName_for_search" value="{{personName}}"
                class="personName for search">
        </label>
        <label>
            submit button:
            <button type="submit">submit</button>
        </label>

    </form>

</body>